body{
    background: #4d244e;
    font-family: sans-serif;
}
.App {
    margin: 0 auto;
    width: 700px;
    height: auto;
 }
h1{
    color: #aa8e8d;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}
